__________________________________________________
 Estudando analise de dados                      
__________________________________________________

#### Importe as bibliotecas necessárias para a resolução do problema:

In [1]:
import pandas as pd 
from collections import OrderedDict

#### Programe o Notebook para exibir até 5000 linhas e 20 colunas ao chamar um dataframe com pandas:

In [2]:
dataframe = {f'Coluna {i}' : [0] * 5000 for i in range(1,21)}
df = pd.DataFrame(dataframe)

display(df)

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6,Coluna 7,Coluna 8,Coluna 9,Coluna 10,Coluna 11,Coluna 12,Coluna 13,Coluna 14,Coluna 15,Coluna 16,Coluna 17,Coluna 18,Coluna 19,Coluna 20
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4996,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4998,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

#### Importe o banco de dados que está no seguinte [link](https://drive.google.com/file/d/1paQsoixucwIBvO8kQQmC6JD6lkrIam5Z/view?usp=sharing).

Este banco possui dados de estoque da empresa Pecista. As colunas existentes são:


*   Codigo: Codigo interno do SKU, os valores não devem se repetir;
*   Produto: Descrição do SKU;
*   Quantidade: Quatidade existente no estoque de um dado produto;
*   Altura: Altura do SKU em centímetros;
*   Largura: Largura do SKU em centímetros;
*   Produnfidade: Profundidade do SKU em centímetros.

In [3]:
df = pd.read_csv("dados.csv", sep=";")
display(df)

,Codigo,Produto,Quantidade,Altura,Largura,Profundidade
0,28,CHAVE LUZ VW PASSAT 74/85 C/REOSTATO 5 TERMINAIS,9,"6,3",4,"5,7"
1,29,CHAVE LUZ VW GOL/VOYAGE/PARATI 82/87 6 TERMINAIS,15,"6,3",4,"5,7"
2,31,CHAVE LUZ GM CHEVETTE 73/82,3,"6,3",4,"5,7"
3,32,CHAVE LUZ GM OPALA 81/84 CHEVETTE 83/..,6,"6,3",4,"5,7"
4,33,CHAVE LUZ GM MONZA 82/85,4,"6,3",4,"5,7"
...,...,...,...,...,...,...
24775,64848,MODULO VIDRO ELE.TOYOTA COROLLA 2020/.. C/...,2,8,6,8
24776,64850,CAMERA DE RE TARTARUGA,19,18,5,18
24777,64853,BOMBA COMB.VW TIGUAN 2.0 TSI 2007/2016,3,14,"6,2","6,2"
24778,64859,BARRA AXIAL FORD FUSION 2006/2009 ...,2,28,5,5
24779,64862,VALVULA TERMOSTATICA FORD FIESTA/ECOSPORT 2003/..,2,24,11,"15,5"

- Utilize a coluna 'Codigo' como índice

In [4]:
df = df.set_index('Codigo')
display(df)

,Produto,Quantidade,Altura,Largura,Profundidade
Codigo,,,,,
28,CHAVE LUZ VW PASSAT 74/85 C/REOSTATO 5 TERMINAIS,9,"6,3",4,"5,7"
29,CHAVE LUZ VW GOL/VOYAGE/PARATI 82/87 6 TERMINAIS,15,"6,3",4,"5,7"
31,CHAVE LUZ GM CHEVETTE 73/82,3,"6,3",4,"5,7"
32,CHAVE LUZ GM OPALA 81/84 CHEVETTE 83/..,6,"6,3",4,"5,7"
33,CHAVE LUZ GM MONZA 82/85,4,"6,3",4,"5,7"
...,...,...,...,...,...
64848,MODULO VIDRO ELE.TOYOTA COROLLA 2020/.. C/...,2,8,6,8
64850,CAMERA DE RE TARTARUGA,19,18,5,18
64853,BOMBA COMB.VW TIGUAN 2.0 TSI 2007/2016,3,14,"6,2","6,2"
64859,BARRA AXIAL FORD FUSION 2006/2009 ...,2,28,5,5
64862,VALVULA TERMOSTATICA FORD FIESTA/ECOSPORT 2003/..,2,24,11,"15,5"

- Quantos produtos distintos temos?

In [5]:
qtd_produtos = df.shape[0]
print("O número de produtos diferentes é:",qtd_produtos)

O número de produtos diferentes é: 24780

- Existe algum produto com algum dado estranho?

In [6]:
dado_nulo = df[df.isnull().any(axis=1)]
print(f"Um produto com valores incompletos foi idenficado:\nNome: {dado_nulo['Produto']}")

Um produto com valores incompletos foi idenficado:
Nome: Codigo
9632    CONJ. LANTERNA FRONTAL MOD.RANDON NOVO        LD
Name: Produto, dtype: object

- Qual produto ocupa o maior volume de nosso estoque?

In [7]:
df['Altura'] = df['Altura'].str.replace(',', '.').astype(float)
df['Largura'] = df['Largura'].str.replace(',', '.').astype(float)
df['Profundidade'] = df['Profundidade'].str.replace(',', '.').astype(float)
df['Quantidade'] = df['Quantidade'].str.replace(',', '.').astype(float)

df['Volume total'] = df['Altura'] * df['Largura'] * df['Profundidade'] * df['Quantidade']
id_maior_estoque = df['Volume total'].idxmax()
produto_maior_vol_estq = df.loc[id_maior_estoque]

print(f"O produto que ocupa maior volume de estoque é:\nNome: {produto_maior_vol_estq['Produto']} \nVolume: {produto_maior_vol_estq['Volume total']}")

O produto que ocupa maior volume de estoque é:
Nome: OLEO MOTOR 15W40                    SEMISSINTETICO
Volume: 33418080.0

- Qual o produto que possui o maior volume?

In [8]:
df['Volume'] = df['Altura'] * df['Largura'] * df['Profundidade']

id_maior_volume = df['Volume'].idxmax()
produto_maior_volume = df.loc[id_maior_volume]

print("O produto que possui maior volume é:"
      f"\nNome: {produto_maior_volume['Produto']}"
      f"\nVolume: {produto_maior_volume['Volume']}")

O produto que possui maior volume é:
Nome: PROTETOR CARTER FORD NEW FIESTA 13/18 KA! 14/18
Volume: 161020.0

#### Temos 4 tipos de caixa para embalagem

*   Caixa A: 20x15x8;
*   Caixa B: 30x25x40;
*   Caixa C: 20x25x15;
*   Caixa D: 8x8x4.

Todas unidades estão em centímetros.

#### Crie um dataframe com as seguintes colunas:

*  Nome da caixa;
*  Altura;
*  Largura;
*  Profundidade;
*  Volume total.

In [9]:
from collections import OrderedDict
data = OrderedDict(
{
'Nome' : ["Caixa A", "Caixa B", "Caixa C", "Caixa D"],
'Altura' : [8, 40, 15, 4],
'Largura' : [15, 25, 25, 8],
'Profundidade' : [15, 25, 25, 8],
'Volume total' : [1800, 25000, 9375, 256]
})

df1 = pd.DataFrame(data)
display(df1)

      Nome  Altura  Largura  Profundidade  Volume total
0  Caixa A       8       15            15          1800
1  Caixa B      40       25            25         25000
2  Caixa C      15       25            25          9375
3  Caixa D       4        8             8           256

- Quantos de nossos produtos nós não podemos embalar com as caixas existentes?

In [10]:
produtos_nao_embalaveis = df[df['Volume'] > df1['Volume total'].max()]

qtd_produtos_nao_embalaveis = produtos_nao_embalaveis.shape[0]

print(f"A quantidade de produtos que não podemos embalar com as caixas é de: {qtd_produtos_nao_embalaveis}")

A quantidade de produtos que não podemos embalar com as caixas é de: 873

- Quantos de nossos produtos ocupam menos de 50% do volume da menor embalagem?

In [11]:
volume_50 = df1['Volume total'].min() * 0.5

produtos_menos_50 = df[df['Volume'] < volume_50]

qtd_produtos_menos_50 = produtos_menos_50.shape[0]

print(f"A quantidade de produtos que ocupam menos de 50% da menor embalagem é: {qtd_produtos_menos_50}")

A quantidade de produtos que ocupam menos de 50% da menor embalagem é: 2340

___